@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

html::-webkit-scrollbar {
    display: none;

}


body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to top, #7e7d7d, #8398abc6, #76b7bfe1, #78c7b4, #79985f);
    ;
}



#title {
    font-size: 40px;
    color: white;
    margin: 0px;
}

#red {
    color: #D80032;
}

#white {
    color: white;
}

#green {
    color: #0EAD69;
}

.navbar {
    margin-bottom: 20px;
    height: 95px;
    background-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    line-height: 95px;
}

.cover {
    background: rgb(0, 0, 0);
    background-image:
        linear-gradient(to bottom, #79985f, rgba(0, 0, 0, 0.487), #79ab80),
        url('../images/coverEconomia.jpg');

    height: 500px;
    margin: 0px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}

#titleCover {
    color: white;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 40px;
    font-weight: bolder;
}

.indice {
    font-weight: bold;
    color: #d7d7d7;
    font-size: 25px;
    grid-row-start: 2;
    text-align: center;

}


.content {
    margin: 25px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardTitle {
    font-size: 28px;
    grid-row-start: 1;
    grid-column-start: 1;
}


.cardP,
li,
ul {
    font-size: 19px;
    text-align: justify;
}

.cardP1 {
    grid-column-start: 2;
    margin: 5px;
    grid-row-start: 2;
    grid-row-end: 3;
}


.cardP3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

#subTitle {
    font-weight: bolder;
    font-size: 18px;
}

#immagineP1 {
    height: 350px;
    width: 400px;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

#immagineP2 {
    /* grid-column-start: 2; */
    justify-self: center;
    align-self: center;
    height: 100px;
    width: 400px;
}

#immagineP3 {
    height: 150px;
    width: 400px;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

#immagineP4 {
    height: 350px;
    width: 350px;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

.cardP5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

#immagineP5 {
    height: 350px;
    width: 350px;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

.immagine {
    height: 300px;
    width: 200px;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}


.cardP6 {
    grid-column-start: 1;
}

.immagineProd2 {
    grid-column-start: 1;
    height: 200px;
    width: 200px;
}

.cardProd2 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.immagineProd3 {
    height: 200px;
    width: 350px;
}

@media screen and (max-width: 900px) {
    .indice {
        font-size: 15px;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
    }

    #immagineP1 {

        grid-column-start: 1;
        grid-row-start: 3;
        width: 320px;
    }

    #immagineP3 {
        width: 300px;

    }

    .content {
        padding: 5px;
        margin: 10px;
    }

    .cardP,
    li,
    ul {
        font-size: 15px;
    }

    ul,
    li,
    ol {
        padding: 20px;
    }

    .cover {
        margin: 5px;
        height: 300px;
    }

    #titleCover {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .continer {
        margin: 10px;
        padding: 5px;
    }

    #immagineP3 {

        grid-column-start: 1;
        grid-row-start: 5;
        align-self: center;
        justify-self: center;
    }

    #immagineP4 {

        grid-column-start: 1;
        grid-row-start: 6;
        align-self: center;
        justify-self: center;
    }

    #immagineP5 {
        grid-column-start: 1;
        grid-row-start: 6;
        align-self: center;
        justify-self: center;
    }

    .cardP1,
    .cardP5 {
        grid-column-start: 1;
        text-align: justify;
        margin: 5px;
    }


    .cardP3 {
        grid-column-end: 1;
    }

    .immagine {
        grid-column-start: 1;
    }

}